.main{
	width: 1345px;
	font-weight: bold;
	color: #fff;
	height: 40px;
	display: block;
	background-color: #000;
	margin-top: -20px;
}
.main_1 li{
	float: left;
	list-style: none;
	margin: 0px;

}
.main_1 li a{
	color: #ccc;
	display: block;
	width: 100px;
	text-align: center;
	line-height: 40px;
	text-decoration: none;
}
.main_1 li a:hover{
	color: #f00;
}
.so{
	width: 300px;
	height: 20px;
	float: left;
	margin-top: 8px;
	margin-left: 40px;
}
.bannerlist img{
	width: 1000px;
	height: 400px;
	margin-top: 20px;
	margin-left: 160px;
}
.neirong{
	width: 1000px;
}
.neirong_1{
	width: 600px;
	margin-left: 164px;
}
.neirong_1 img{
	width: 500px;
	height: 300px;
	margin-left: 40px;
}
.neirong p{
	font-size: 14px;
	line-height: 20px;
}
.neirong_2{
	width: 200px;
	margin-top: -440px;
	margin-left: 900px;
	font-size: 16px;
	color: #aaa;
	display: block;
	background-color: #eee;
}
.neirong_2 li{
	list-style: none;
	width: 200px;


}
.neirong_2 li a{
	color: #aaa;
	display: block;
	width: 100px;
	text-align: center;
	line-height: 30px;
	text-decoration: none;
}
.neirong_2 li a:hover{
	color: #f30;
}
.pinlun_1 p{
	margin-left: 150px;
	font-size: 20px;
	line-height: 40px;
	font-weight: border;
	font-family: "黑体";
	color: #f00;
}
.pinlun_2 form{
	margin-left: 150px;
}
.pinlun_3{
	float: right;
	margin-top: -180px;
	margin-right: -350px;
}
.content_right{
	float:left;
	width:760px;
}

.tongzhi ul{
	padding-left:20px;
	margin-left: 150px;
}
.tongzhi ul li{
	list-style: none;
	height:30px;
	font-size:14px;
	*padding-top:8px;
	*height:22px;

}
.tongzhi ul li a{
	text-decoration: none;

}
.tongzhi ul li a:hover{
	text-decoration: none;
	color: #f00;

}
.tongzhi ul li span{
	float:right;
	color:#8b6544;
	margin-right:5px;
	*margin-top:-18px
}
