body{
	font-size: 12px;font-family: Arial;color: #333333;
	line-height: 2em;
}
a{
	text-decoration: none;color: #727272;
}
ul{
	font-size: 14px;color: #b9f605;font-weight: 900;
}
li{
	color: #333333;
}